---
import { formatPercentage } from '../../utils/formats'

const { logo, tna, tea, detail, title, name, url } = Astro.props

const tnaRate = formatPercentage(tna)
const teaRate = formatPercentage(tea)
const logoImg = logo + '?tr=w-32,h-32,f_webp'
---

<a
  class='bg-white shadow-sm rounded-lg border-gray-300 p-4 text-gray dark:bg-gray-900'
  href={`${url}?ref=comparatasas.ar`}
>
  <div class=''>
    <div class='flex flex-row justify-between items-center'>
      <div class='flex items-center gap-2 mr-auto'>
        <img
          loading='lazy'
          style={{ width: '32px', height: '32px' }}
          class='rounded-full w-8 h-8'
          width='32'
          height='32'
          src={logoImg}
          alt={`${title ? title : name} logo`}
        />
        <div>
          <p
            class='flex content-center items-center font-semibold capitalize dark:text-gray-200'
          >
            {name}
          </p>
          <p class='text-xs text-gray-400'>{detail}</p>
        </div>
      </div>
      <div>
        <p class='flex w-[150px] justify-end gap-1 align-middle'>
          <span class='tabular-nums dark:text-gray-200'
            >{tnaRate}</span
          ><span class='dark:text-gray-200 text-xs mt-[5px]'>TNA</span
          >
        </p>
        <p class='flex w-[150px] justify-end gap-1 align-middle'>
          <span class='text-xs tabular-nums text-gray-400'
            >{teaRate}</span
          ><span class='text-gray-400 text-xs tracking-wider'
            >TEA</span
          >
        </p>
      </div>
    </div>
  </div>
</a>
