---
import cn from '../../utils/cn';
import { formatPercentage } from '../../utils/formats';

const { logo, tna, tea, detail, title, name, url, disableRounded, className } =
  Astro.props;

const tnaRate = formatPercentage(tna);
const teaRate = formatPercentage(tea);
const logoImg = `${logo}?tr=w-32,h-32,f_webp`;
---

<a
  class={cn(
    'text-gray  border-gray-300 bg-white p-4 shadow-sm dark:bg-gray-900',
    className,
    {
      'rounded-lg': !disableRounded,
    },
  )}
  href={`${url}?ref=comparatasas.ar`}
>
  <div class=''>
    <div class='flex flex-row items-center justify-between'>
      <div class='mr-auto flex items-center gap-2'>
        <img
          loading='lazy'
          style={{ width: '32px', height: '32px' }}
          class='h-8 w-8 rounded-full'
          width='32'
          height='32'
          src={logoImg}
          alt={`${title ? title : name} logo`}
        />
        <div>
          <p
            class='flex content-center items-center font-semibold capitalize dark:text-gray-200'
          >
            {name}
          </p>
          <p class='text-xs text-gray-400'>{detail}</p>
        </div>
      </div>
      <div>
        <p class='flex w-[150px] justify-end gap-1 align-middle'>
          <span class='tabular-nums dark:text-gray-200'>{tnaRate}</span><span
            class='mt-[5px] text-xs dark:text-gray-200'>TNA</span
          >
        </p>
        <p class='flex w-[150px] justify-end gap-1 align-middle'>
          <span class='text-xs tabular-nums text-gray-400'>{teaRate}</span><span
            class='text-xs tracking-wider text-gray-400'>TEA</span
          >
        </p>
      </div>
    </div>
  </div>
</a>
