---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/banner.astro';
import NavBar from '../components/Menu/NavBar';
import terminals from '../data/terminals.json';
---

<Layout
  title='Compara terminales y comisiones de cobro'
  metaDescription='Conocé los costos y opciones disponibles para tu negocio.'
  metaKeywords='terminales de cobro, comisiones terminales de cobro, comparar terminales, cobrar con terminal'
  metaImage='https://comparatasas.ar/images/crypto.png'
>
  <NavBar pathname='/cobros' client:load />
  <div
    id='containter'
    class='container mx-4 mx-auto my-6 max-w-sm px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1 class='my-2 text-3xl font-bold text-gray-900 dark:text-gray-100'>
      Terminales y comisiones de cobro
    </h1>
    <p class='mb-10 dark:text-gray-500'>
      Conocé los costos y opciones disponibles para tu negocio.
    </p>
    <div class='flex flex-col gap-6'>
      {
        terminals.map((terminal) => (
          <>
            <section class='flex flex-col gap-6'>
              <div class='flex gap-4'>
                <img
                  class='h-16 w-16'
                  src={terminal.providerImg + '?tr=w-72,h-72,f-webp'}
                  alt={terminal.provider + ' icon'}
                />
                <div>
                  <h2 class='text-xl font-bold dark:text-gray-100'>
                    {terminal.provider}
                  </h2>
                  <p class='dark:text-gray-500'>
                    <span>
                      {terminal.lectores.map(
                        (device, index) =>
                          device +
                          (index === terminal.lectores.length - 1 ? '.' : ', '),
                      )}
                    </span>
                    <a class='underline underline-offset-4' href={terminal.url}>
                      Más Info
                    </a>
                  </p>
                </div>
              </div>
              <div class='relative -z-10 rounded-md bg-gray-50 px-4 shadow-sm dark:bg-slate-900'>
                <span class='absolute left-0 -z-20 w-full overflow-hidden rounded-t-md border-b border-indigo-100 bg-indigo-100 p-7 dark:border-indigo-950 dark:bg-indigo-950' />
                <table class='w-full table-auto rounded-md'>
                  <thead class='bg-indigo-100 dark:bg-indigo-950'>
                    <tr class='border-b border-gray-200 text-gray-600 dark:border-gray-700 dark:text-indigo-200'>
                      <th class='p-4 text-left'>Plazo</th>
                      <th class='p-4 text-right'>T. Débito</th>
                      <th class='p-4 text-right'>T. Crédito</th>
                    </tr>
                  </thead>
                  <tbody>
                    {terminal.deadlineFees.map((plazo, index) => (
                      <tr class='border-b border-gray-200 bg-gray-50 last:border-b-0 dark:border-gray-700 dark:bg-slate-900 dark:text-gray-100'>
                        <td class='p-4 text-left'>{plazo.deadline}</td>
                        <td class='p-4 text-right'>{plazo.debit}</td>
                        <td class='p-4 text-right'>{plazo.credit}</td>
                      </tr>
                    ))}
                  </tbody>
                </table>
              </div>
              {terminal.provider === 'Ualá bis' ? (
                <Banner size='small' />
              ) : null}{' '}
            </section>
          </>
        ))
      }
    </div>
  </div>
</Layout>
