---
import Layout from '../layouts/Layout.astro'

const accounts = [
  {
    name: 'Takenos',
    logo: 'https://ik.imagekit.io/ferminrp/Takenos%20logo.jpeg?updatedAt=1709119639419',
    url: 'https://app.takenos.com/referral?referral=3019da20-6746-4f43-81ba-a489cd833a0d',
    attributes: {
      'Comisión por recibir': '0%',
      'Comisión por extraer': '3%',
      'Cuenta USA a tu nombre': true,
      'Extracciones en pesos': true,
      Rendimientos: false,
      'Tarjeta Virtual': false,
      'Tarjeta Física': false
    }
  },
  {
    name: 'Dolarapp',
    logo: 'https://ik.imagekit.io/ferminrp/dolarapp.png?updatedAt=1709130134048',
    url: 'https://www.dolarapp.com/referrals/ar_referral?referralCode=ferminrp_W8d',
    attributes: {
      'Comisión por recibir': 'U$S 3',
      'Comisión por extraer': '0%',
      'Cuenta USA a tu nombre': true,
      'Extracciones en pesos': true,
      'Tarjeta Virtual': false,
      'Tarjeta Física': false
    },
    subscription: {
      Costo: 'U$S 4,99',
      Rendimientos: '4.00%'
    }
  },
  {
    name: 'Grabrfi',
    logo: 'https://ik.imagekit.io/ferminrp/grabrfi.jpeg?updatedAt=1709138465494',
    url: 'https://www.grabrfi.com/es',
    attributes: {
      'Comisión por recibir': '0%',
      'Comisión por extraer': '0%',
      'Cuenta USA a tu nombre': true,
      'Extracciones en pesos': false,
      Rendimientos: false,
      'Tarjeta Virtual': false,
      'Tarjeta Física': false
    }
  } /* OCULTADO HASTA QUE VUELVAN A ABRIR CUENTAS
  {
    name: 'Utoppia',
    logo: 'https://ik.imagekit.io/ferminrp/utoppia.png?updatedAt=1709121463821',
    url: 'https://www.utoppia.com/',
    attributes: {
      'Comisión por recibir': '0%',
      'Comisión por extraer': '0%',
      'Cuenta USA a tu nombre': true,
      'Tarjeta Virtual': true,
      'Tarjeta Física': false,
      'Extracciones en pesos': false
    },
    subscription: {
      Costo: 'U$S 4,99',
      Rendimientos: '4.5%'
    }
  }*/
]

const booleanToSVG = (value) =>
  value
    ? '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#047857" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>'
    : '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91c1c" viewBox="0 0 256 256"><path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path></svg>'
---

<Layout
  title='Cuentas para Freelancers'
  metaDescription='Compara las distintas opciones para cobrar afuera.'
  metaKeywords='Cuenta en dolares, freelancer, comparar comisiones, traer dolares, cobrar en dolares, pesos a dolares'
  metaImage='/images/cuentas-usa.png'
>
  <div
    class='container mx-4 mx-auto my-6 flex max-w-sm flex-col gap-4 px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1
      class='my-6 text-3xl font-bold text-gray-900 dark:text-gray-100'
    >
      Compara las mejores opciones para <span class='text-indigo-500'
        >cobrar afuera</span
      >
    </h1>
    {
      accounts.map((account) => (
        <a
          class='block rounded bg-white p-4 shadow-sm dark:bg-gray-900 dark:text-gray-100'
          href={account.url}
        >
          <div class='flex items-center gap-2 pb-4'>
            <img
              class='h-8 w-8 rounded-full'
              src={account.logo + '?tr=w-32,h-32,f_webp'}
              alt={account.name}
              width='32'
              height='32'
            />
            <h3 class='text-lg font-bold'>{account.name}</h3>
          </div>

          <ul class='flex flex-col gap-1'>
            {Object.entries(account.attributes).map(
              ([key, value]) => (
                <li class='flex justify-between font-light dark:text-gray-200'>
                  {key}:{' '}
                  <span
                    set:html={
                      typeof value === 'boolean'
                        ? booleanToSVG(value)
                        : value
                    }
                  />
                </li>
              )
            )}
            {account.subscription && (
              <>
                <div class='flex items-center'>
                  <div class='flex-grow border-t border-gray-300' />
                  <span class='mx-4 flex-shrink text-gray-800 dark:text-gray-100'>
                    Suscripción
                  </span>
                  <div class='flex-grow border-t border-gray-300' />
                </div>

                {Object.entries(account.subscription).map(
                  ([key, value]) => (
                    <li class='flex justify-between font-light dark:text-gray-200'>
                      {key}: <span>{value}</span>
                    </li>
                  )
                )}
              </>
            )}
          </ul>
        </a>
      ))
    }
  </div>
</Layout>
