---
import NavBar from '../components/Menu/NavBar';
import Banner from '../components/banner.astro';
import Layout from '../layouts/Layout.astro';

const accounts = [
  {
    name: 'Takenos',
    logo: 'https://ik.imagekit.io/ferminrp/Takenos%20logo.jpeg?updatedAt=1709119639419',
    url: 'https://app.takenos.com/referral?referral=3019da20-6746-4f43-81ba-a489cd833a0d',
    attributes: {
      'Comisión por recibir': '0%',
      'Comisión por extraer': '3%',
      'Cuenta USA a tu nombre': true,
      'Retiros en pesos': true,
      'Retiros Crypto': true,
      Rendimientos: false,
      'Tarjeta Virtual': false,
      'Tarjeta Física': false,
    },
  },
  {
    name: 'Dolarapp',
    logo: 'https://ik.imagekit.io/ferminrp/dolarapp.png?updatedAt=1709130134048',
    url: 'https://www.dolarapp.com/referrals/ar_referral?referralCode=ferminrp_W8d',
    attributes: {
      'Comisión por recibir': 'US$ 3',
      'Comisión por extraer': '0%',
      'Cuenta USA a tu nombre': true,
      'Retiros en pesos': true,
      'Tarjeta Virtual': true,
      'Tarjeta Física': true,
      'Retiros Crypto': false,
    },
    subscription: {
      Costo: 'US$ 6,99',
      Rendimientos: '4,00%',
      Cashback: '1,00%',
    },
  },
  {
    name: 'Grabrfi',
    logo: 'https://ik.imagekit.io/ferminrp/grabrfi.jpeg?updatedAt=1709138465494',
    url: 'https://www.grabrfi.com/es',
    attributes: {
      'Comisión por recibir': '0%',
      'Comisión por extraer': '0%',
      'Cuenta USA a tu nombre': true,
      'Retiros en pesos': false,
      Rendimientos: false,
      'Tarjeta Virtual': false,
      Cashback: false,
      'Tarjeta Física': false,
      'Retiros Crypto': false,
    },
  },
  {
    name: 'Ripio',
    logo: 'https://ik.imagekit.io/ferminrp/ripio.jpg?updatedAt=1709314985547',
    url: 'https://join.ripio.com/ref/fermin_r_0',
    attributes: {
      'Comisión por recibir': 'US$0,50 + 1,50%',
      'Comisión por extraer': '0%',
      Rendimientos: '2,00%',
      Cashback: '2%',
      'Cuenta USA a tu nombre': true,
      'Retiros en pesos': true,
      'Tarjeta Virtual': true,
      'Tarjeta Física': true,
      'Retiros Crypto': true,
    },
  },
  {
    name: 'Wallbit',
    logo: 'https://ik.imagekit.io/ferminrp/wallbit.jpeg?updatedAt=1712577693223',
    url: 'https://wallbit.io/',
    attributes: {
      'Comisión por recibir': '0%',
      'Comisión por extraer': '$5',
      Rendimientos: '5,17%',
      'Cuenta USA a tu nombre': true,
      'Tarjeta Virtual': true,
      Cashback: false,
      'Retiros en pesos': false,
      'Tarjeta Física': false,
      'Retiros Crypto': false,
    },
  },
/*
  {
    name: 'Utoppia',
    logo: 'https://ik.imagekit.io/ferminrp/utoppia.png?updatedAt=1709121463821',
    url: 'https://www.utoppia.com/',
    attributes: {
      'Comisión por recibir': '0%',
      'Comisión por extraer': '0%',
      'Cuenta USA a tu nombre': true,
      'Tarjeta Virtual': true,
      'Tarjeta Física': false,
      'Retiros en pesos': false,
      'Retiros Crypto': false,
    },
    subscription: {
      Costo: 'US$ 4,99',
      Rendimientos: '5,43%',
    },
  },
*/
];

const booleanToSVG = (value) =>
  value
    ? '<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 0C4.48 0 0 4.48 0 10s4.48 10 10 10 10-4.48 10-10S15.52 0 10 0ZM8 15l-5-5 1.41-1.41L8 12.17l7.59-7.59L17 6l-9 9Z" fill="#22C55E"/></svg>'
    : '<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 0C4.47 0 0 4.47 0 10s4.47 10 10 10 10-4.47 10-10S15.53 0 10 0Zm5 13.59L13.59 15 10 11.41 6.41 15 5 13.59 8.59 10 5 6.41 6.41 5 10 8.59 13.59 5 15 6.41 11.41 10 15 13.59Z" fill="#E73737"/></svg>';
---

<Layout
  title='Cuentas para Freelancers'
  metaDescription='Compara las distintas opciones para cobrar afuera.'
  metaKeywords='Cuenta en dolares, freelancer, comparar comisiones, traer dolares, cobrar en dolares, pesos a dolares'
  metaImage='https://comparatasas.ar/images/cuentas-usa.png'
>
  <NavBar pathname='/cuentas-usa' client:load />
  <div
    class='container mx-4 mx-auto my-6 max-w-sm px-2 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1 class='my-6 text-3xl font-bold text-gray-900 dark:text-gray-100'>
      Compara las mejores opciones para <span class='text-indigo-500'
        >cobrar afuera</span
      >
    </h1>
    {
      accounts.map((account) => (
        <div>
          <div class='my-6 overflow-x-auto'>
            <div class='flex items-center justify-between gap-2 rounded p-4 pb-4 dark:text-gray-100'>
              <div class='flex items-center gap-3'>
                <img
                  class='h-12 w-12 rounded-full'
                  src={account.logo + '?tr=w-32,h-32,f_webp'}
                  alt={account.name}
                  width='32'
                  height='32'
                />
                <h3 class='text-xl font-bold'>{account.name}</h3>
              </div>
              <a
                class='text-indigo-500 underline underline-offset-2'
                href={account.url}
              >
                Visitar Sitio
              </a>
            </div>
            {account.name === 'Dolarapp' ? (
              <div class='mb-2 flex gap-2 rounded-lg border bg-gray-50 p-2 dark:border-slate-800 dark:bg-slate-900'>
                <div class='h-10 rounded-full bg-indigo-100 p-2 dark:bg-indigo-950'>
                  <svg
                    class='h-6 w-6'
                    xmlns='http://www.w3.org/2000/svg'
                    width='16'
                    height='16'
                    fill='#6366f1'
                    viewBox='0 0 256 256'
                  >
                    <path d='M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.73,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.27,240,138.44,240,128S232.49,109.73,225.86,102.82Zm-11.55,39.29c-4.79,5-9.75,10.17-12.38,16.52-2.52,6.1-2.63,13.07-2.73,19.82-.1,7-.21,14.33-3.32,17.43s-10.39,3.22-17.43,3.32c-6.75.1-13.72.21-19.82,2.73-6.35,2.63-11.52,7.59-16.52,12.38S132,224,128,224s-9.15-4.92-14.11-9.69-10.17-9.75-16.52-12.38c-6.1-2.52-13.07-2.63-19.82-2.73-7-.1-14.33-.21-17.43-3.32s-3.22-10.39-3.32-17.43c-.1-6.75-.21-13.72-2.73-19.82-2.63-6.35-7.59-11.52-12.38-16.52S32,132,32,128s4.92-9.14,9.69-14.11,9.75-10.17,12.38-16.52c2.52-6.1,2.63-13.07,2.73-19.82.1-7,.21-14.33,3.32-17.43S70.51,56.9,77.55,56.8c6.75-.1,13.72-.21,19.82-2.73,6.35-2.63,11.52-7.59,16.52-12.38S124,32,128,32s9.15,4.92,14.11,9.69,10.17,9.75,16.52,12.38c6.1,2.52,13.07,2.63,19.82,2.73,7,.1,14.33.21,17.43,3.32s3.22,10.39,3.32,17.43c.1,6.75.21,13.72,2.73,19.82,2.63,6.35,7.59,11.52,12.38,16.52S224,124,224,128,219.08,137.14,214.31,142.11ZM120,96a24,24,0,1,0-24,24A24,24,0,0,0,120,96ZM88,96a8,8,0,1,1,8,8A8,8,0,0,1,88,96Zm72,40a24,24,0,1,0,24,24A24,24,0,0,0,160,136Zm0,32a8,8,0,1,1,8-8A8,8,0,0,1,160,168Zm13.66-74.34-80,80a8,8,0,0,1-11.32-11.32l80-80a8,8,0,0,1,11.32,11.32Z' />
                  </svg>
                </div>
                <p class=' text-sm text-gray-500 dark:text-gray-200'>
                  ¡Usá el código FERMINRP_TRANSFER y tené tu primer
                  transferencia gratis!
                </p>
              </div>
            ) : (
              ''
            )}
            {account.name === 'Takenos' ? (
              <div class='mb-2 flex gap-2 rounded-lg border bg-gray-50 p-2 dark:border-slate-800 dark:bg-slate-900'>
                <div class='h-10 rounded-full bg-indigo-100 p-2 dark:bg-indigo-950'>
                  <svg
                    class='h-6 w-6'
                    xmlns='http://www.w3.org/2000/svg'
                    width='16'
                    height='16'
                    fill='#6366f1'
                    viewBox='0 0 256 256'
                  >
                    <path d='M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.73,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.27,240,138.44,240,128S232.49,109.73,225.86,102.82Zm-11.55,39.29c-4.79,5-9.75,10.17-12.38,16.52-2.52,6.1-2.63,13.07-2.73,19.82-.1,7-.21,14.33-3.32,17.43s-10.39,3.22-17.43,3.32c-6.75.1-13.72.21-19.82,2.73-6.35,2.63-11.52,7.59-16.52,12.38S132,224,128,224s-9.15-4.92-14.11-9.69-10.17-9.75-16.52-12.38c-6.1-2.52-13.07-2.63-19.82-2.73-7-.1-14.33-.21-17.43-3.32s-3.22-10.39-3.32-17.43c-.1-6.75-.21-13.72-2.73-19.82-2.63-6.35-7.59-11.52-12.38-16.52S32,132,32,128s4.92-9.14,9.69-14.11,9.75-10.17,12.38-16.52c2.52-6.1,2.63-13.07,2.73-19.82.1-7,.21-14.33,3.32-17.43S70.51,56.9,77.55,56.8c6.75-.1,13.72-.21,19.82-2.73,6.35-2.63,11.52-7.59,16.52-12.38S124,32,128,32s9.15,4.92,14.11,9.69,10.17,9.75,16.52,12.38c6.1,2.52,13.07,2.63,19.82,2.73,7,.1,14.33.21,17.43,3.32s3.22,10.39,3.32,17.43c.1,6.75.21,13.72,2.73,19.82,2.63,6.35,7.59,11.52,12.38,16.52S224,124,224,128,219.08,137.14,214.31,142.11ZM120,96a24,24,0,1,0-24,24A24,24,0,0,0,120,96ZM88,96a8,8,0,1,1,8,8A8,8,0,0,1,88,96Zm72,40a24,24,0,1,0,24,24A24,24,0,0,0,160,136Zm0,32a8,8,0,1,1,8-8A8,8,0,0,1,160,168Zm13.66-74.34-80,80a8,8,0,0,1-11.32-11.32l80-80a8,8,0,0,1,11.32,11.32Z' />
                  </svg>
                </div>
                <p class=' text-sm text-gray-500 dark:text-gray-200'>
                  ¡Usá el código USDCAR y tenes un descuento en tu primera
                  operación!
                </p>
              </div>
            ) : (
              ''
            )}
            {account.name === 'Utoppia' ? (
              <div class='mb-2 flex gap-2 rounded-lg border bg-gray-50 p-2 dark:border-slate-800 dark:bg-slate-900'>
                <div class='h-10 rounded-full bg-indigo-100 p-2 dark:bg-indigo-950'>
                  <svg
                    class='h-6 w-6'
                    xmlns='http://www.w3.org/2000/svg'
                    width='16'
                    height='16'
                    fill='#6366f1'
                    viewBox='0 0 256 256'
                  >
                    <path d='M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.73,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.27,240,138.44,240,128S232.49,109.73,225.86,102.82Zm-11.55,39.29c-4.79,5-9.75,10.17-12.38,16.52-2.52,6.1-2.63,13.07-2.73,19.82-.1,7-.21,14.33-3.32,17.43s-10.39,3.22-17.43,3.32c-6.75.1-13.72.21-19.82,2.73-6.35,2.63-11.52,7.59-16.52,12.38S132,224,128,224s-9.15-4.92-14.11-9.69-10.17-9.75-16.52-12.38c-6.1-2.52-13.07-2.63-19.82-2.73-7-.1-14.33-.21-17.43-3.32s-3.22-10.39-3.32-17.43c-.1-6.75-.21-13.72-2.73-19.82-2.63-6.35-7.59-11.52-12.38-16.52S32,132,32,128s4.92-9.14,9.69-14.11,9.75-10.17,12.38-16.52c2.52-6.1,2.63-13.07,2.73-19.82.1-7,.21-14.33,3.32-17.43S70.51,56.9,77.55,56.8c6.75-.1,13.72-.21,19.82-2.73,6.35-2.63,11.52-7.59,16.52-12.38S124,32,128,32s9.15,4.92,14.11,9.69,10.17,9.75,16.52,12.38c6.1,2.52,13.07,2.63,19.82,2.73,7,.1,14.33.21,17.43,3.32s3.22,10.39,3.32,17.43c.1,6.75.21,13.72,2.73,19.82,2.63,6.35,7.59,11.52,12.38,16.52S224,124,224,128,219.08,137.14,214.31,142.11ZM120,96a24,24,0,1,0-24,24A24,24,0,0,0,120,96ZM88,96a8,8,0,1,1,8,8A8,8,0,0,1,88,96Zm72,40a24,24,0,1,0,24,24A24,24,0,0,0,160,136Zm0,32a8,8,0,1,1,8-8A8,8,0,0,1,160,168Zm13.66-74.34-80,80a8,8,0,0,1-11.32-11.32l80-80a8,8,0,0,1,11.32,11.32Z' />
                  </svg>
                </div>
                <p class=' text-sm text-gray-500 dark:text-gray-200'>
                  ¡Usá el código UTOPPIA-F09V y ganá 10 USD luego de depositar
                  por primera vez!
                </p>
              </div>
            ) : (
              ''
            )}
            <div class='!rounded-lg border bg-gray-50 px-2 py-2 shadow-md dark:border-slate-800 dark:bg-slate-900'>
              <table class='w-full table-auto border-collapse bg-gray-50 dark:bg-slate-900 dark:text-gray-200'>
                <thead>
                  <tr>
                    <th class='px-4 py-4 text-left font-semibold'>Plan</th>
                    <th class='px-4 py-4 text-right font-semibold'>Gratis</th>
                    {account.subscription && (
                      <th class='px-4 py-2 text-right'>Pago</th>
                    )}
                  </tr>
                </thead>
                <tbody class='px-4'>
                  {Object.entries(account.attributes).map(([key, value]) => (
                    <tr>
                      <td class='border-b border-gray-300 px-4 py-4 dark:border-gray-700'>
                        {key}{' '}
                      </td>
                      <td class='border-b border-gray-300 px-4 py-4 text-right dark:border-gray-700'>
                        <span
                          class='flex justify-end'
                          set:html={
                            typeof value === 'boolean'
                              ? booleanToSVG(value)
                              : value
                          }
                        />
                      </td>
                      {account.subscription && (
                        <td class='border-b border-gray-300 px-4 py-4 text-right dark:border-gray-700'>
                          <span
                            class='flex justify-end'
                            set:html={
                              typeof value === 'boolean'
                                ? booleanToSVG(value)
                                : value
                            }
                          />
                        </td>
                      )}
                    </tr>
                  ))}
                  {account.subscription ? (
                    <div>
                      {Object.entries(account.subscription).map(
                        ([key, value]) => (
                          <tr>
                            <td class='border-b border-gray-300 px-4 py-4 dark:border-gray-700'>
                              {key}
                            </td>
                            <td class='border-b border-gray-300 px-4 py-4 text-right dark:border-gray-700'>
                              <span class='flex justify-end'>
                                <svg
                                  width='20'
                                  height='20'
                                  fill='none'
                                  xmlns='http://www.w3.org/2000/svg'
                                >
                                  <path
                                    d='M10 0C4.47 0 0 4.47 0 10s4.47 10 10 10 10-4.47 10-10S15.53 0 10 0Zm5 13.59L13.59 15 10 11.41 6.41 15 5 13.59 8.59 10 5 6.41 6.41 5 10 8.59 13.59 5 15 6.41 11.41 10 15 13.59Z'
                                    fill='#E73737'
                                  />
                                </svg>
                              </span>
                            </td>
                            <td class='border-b border-gray-300 px-4 py-4 text-right dark:border-gray-700'>
                              {value}
                            </td>
                          </tr>
                        ),
                      )}
                    </div>
                  ) : null}
                </tbody>
              </table>
            </div>
          </div>
          {account.name === 'Takenos' || account.name === 'Grabrfi' ? (
            <Banner size='small' />
          ) : null}
        </div>
      ))
    }
  </div>
</Layout>

<style>
  table tr:last-child td {
    border-bottom: 0 !important;
  }
</style>
