---
import Layout from '../layouts/Layout.astro';
import Dolares from '../components/Dolares.astro';
import { EXCHANGES } from '../data/exchanges';
import Best from '../components/BestInvestments/Best.astro';
import { type Return } from '../model/exchange';
import { type Investment } from '../model/business';
import { getPFInvestments } from '../Services/argentinaDatos';
import { getReturns } from '../client/argentinaDatos';
import { getFCIInvestments } from '../Services/argentinaDatosFCI';
import Banner from '../components/banner.astro';
import NavBar from '../components/Menu/NavBar';
import Card from '../components/Card/Card.astro';
import Row from '../components/ExchangeTable/Row.astro';

// Define your API endpoint and API keys
const apiEndpoint =
  'https://thklpacfwtrtuynqlnah.supabase.co/rest/v1/tna_view?display=eq.TRUE&select=*';
const apiKey = import.meta.env.PUBLIC_SUPABASE_KEY;

// Configure your fetch request with headers

const response = await fetch(apiEndpoint, {
  method: 'GET',
  headers: {
    Authorization: `Bearer ${apiKey}`,
    apikey: apiKey,
  },
});

const dataSupabase = await response.json();
const FCIData = await getFCIInvestments();
const dataReturns = await getReturns();

// Solo usamos la info de criptopesos y buendolar de Supabase
const filteredSBData = dataSupabase.filter(
  (d: Investment) =>
    d.type === 'criptopesos' ||
    d.type === 'buendolar' ||
    d.name === 'Naranja X',
);

const TOP_INVESTMENT_QUANTITY = 3;

// Plazos fijos de ArgentinaDatos
const PFData = await getPFInvestments();

// Concatenar arrays
const allData = Array.prototype.concat(filteredSBData, ...PFData, ...FCIData);

const pesos = ['cuenta_remunerada', 'tradicional', 'pf'];

const isPesoCoin = (value: Return) =>
  value.moneda === 'ARS' || value.moneda === 'NUARS' || value.moneda === 'NARS';

const sortedPesosData: Investment[] = allData
  .filter((item) => pesos.includes(item.type))
  .sort((a, b) => {
    if (a.tea < b.tea) {
      return 1; // for descending order, return 1 if the first item is less than the second
    } else if (a.tea > b.tea) {
      return -1; // return -1 if the first item is greater than the second
    } else {
      return 0; // return 0 if they're equal
    }
  });

let sortedCriptoData = [];
Object.entries(dataReturns).forEach(([exchange, values]) => {
  values.forEach((value) => {
    if (value.apy <= 0 || isPesoCoin(value)) return null;
    sortedCriptoData.push({ exchange, ...value });
  });
});
---

<Layout
  title='Compara Tasas'
  metaImage='https://i.ibb.co/QYKMwcL/Twitter-post-2.pnG'
  metaDescription='Compara las tasas de rendimiento que ofrecen las principales billeteras digitales y sacale mas jugo a tu pesos.'
  metaKeywords='Comparar tasas, tasas de interes Argentina, mejores tasas de interes, Comparar FCI, mejores tasas FCI, comparar tasas de interes, plazo fijo argentina, plazo fijo vs fci'
>
  <NavBar pathname='/' client:load />
  <div
    id='containter'
    class='container mx-4 mx-auto my-6 max-w-sm px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1 class='my-6 text-3xl font-bold text-gray-900 dark:text-gray-100'>
      ¡Descubrí cuánto podés <span class='text-indigo-500'
        >hacer rendir tu plata!</span
      >
    </h1>
    <Dolares />
    <Banner size='small' />
    <Best link={'/pesos'} sectionName='Pesos'>
      <div class='flex flex-col'>
        {
          sortedPesosData
            .slice(0, 3)
            .map((item, index) => (
              <Card
                {...item}
                key={index}
                disableRounded
                className={`border-b-1 border-b border-gray-100  dark:border-gray-600 ${index === TOP_INVESTMENT_QUANTITY - 1 && 'rounded-b-lg border-none'}`}
              />
            ))
        }
      </div>
    </Best>
    <Best link={'/crypto'} sectionName='Cripto'>
      <div class='flex flex-col'>
        {
          sortedCriptoData
            .sort((a, b) => b.apy - a.apy)
            .slice(0, 3)
            .map((item, index) => {
              const isLastItem = index === TOP_INVESTMENT_QUANTITY - 1;
              return (
                <Row
                  key={index}
                  logo={EXCHANGES[item.exchange].logo}
                  apy={item.apy}
                  moneda={item.moneda}
                  className={`px-4 ${isLastItem && 'rounded-b-lg'} `}
                  isBestSection
                  isLastItem={isLastItem}
                  exchange={item.exchange}
                />
              );
            })
        }
      </div>
    </Best>
    <a
      id='cafecito'
      href='https://cafecito.app/ferminrp'
      rel='noopener'
      target='_blank'
      ><img
        width='192'
        height='40'
        srcset='https://cdn.cafecito.app/imgs/buttons/button_3.png 1x, https://cdn.cafecito.app/imgs/buttons/button_3_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_3_3.75x.png 3.75x'
        src='https://cdn.cafecito.app/imgs/buttons/button_3.png'
        alt='Invitame un café en cafecito.app'
      /></a
    >
  </div>
</Layout>
