---
import Layout from '../layouts/Layout.astro'
import Dolares from '../components/Dolares.astro'
import InvestmentSection from '../components/Sections/InvestmentSection.astro'
import CriptoUsd from '../components/Sections/CriptoUsd.astro'
import { type Exchange } from '../model/exchange'
import { type Investment } from '../model/business'
import { getPFInvestments } from '../Services/argentinaDatos'
import { getReturnsByApp } from '../client/argentinaDatos'

// Define your API endpoint and API keys
const apiEndpoint =
  'https://thklpacfwtrtuynqlnah.supabase.co/rest/v1/tna_view?display=eq.TRUE&select=*'
const apiKey = import.meta.env.PUBLIC_SUPABASE_KEY

// Configure your fetch request with headers

const response = await fetch(apiEndpoint, {
  method: 'GET',
  headers: {
    Authorization: `Bearer ${apiKey}`,
    apikey: apiKey
  }
})

const data = await response.json()

const letsBitReturns = await getReturnsByApp('letsbit')
const fiwindReturns = await getReturnsByApp('fiwind')
const buenbitReturns = await getReturnsByApp('buenbit')

// Quitar los plazos fijos que vienen de supabase
const filteredData = data.filter((d) => d.type != 'pf')

// Plazos fijos de ArgentinaDatos
const PFData = await getPFInvestments()

// Concatenar arrays
const allData = Array.prototype.concat(filteredData, ...PFData)

const sortedData = allData.sort((a, b) => {
  if (a.tea < b.tea) {
    return 1 // for descending order, return 1 if the first item is less than the second
  } else if (a.tea > b.tea) {
    return -1 // return -1 if the first item is greater than the second
  } else {
    return 0 // return 0 if they're equal
  }
})

const exchanges = [
  {
    data: buenbitReturns,
    link: 'https://buenbit.com?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/nDMEc3-Y_400x400.png?updatedAt=1702030494734',
    altLogo: 'buenbit logo',
    name: 'Buenbit'
  },
  {
    data: fiwindReturns,
    link: 'https://fiwind.io?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/gKj3U76V_400x400.jpg?updatedAt=1702030494696',
    altLogo: 'fiwind logo',
    name: 'Fiwind'
  },
  {
    data: letsBitReturns,
    link: 'https://letsbit.io/?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/letsbit.jpg?updatedAt=1708124949269',
    altLogo: 'letsbut logo',
    name: 'LetsBit'
  }
] as Exchange[]

const investments: {
  filterInvestment: Investment['type']
  title: string
}[] = [
  {
    filterInvestment: 'cuenta_remunerada',
    title: 'Inversión Automática'
  },
  {
    filterInvestment: 'tradicional',
    title: 'Experiencia Tradicional'
  },
  {
    filterInvestment: 'pf',
    title: 'Plazos Fijos'
  },
  {
    filterInvestment: 'criptopesos',
    title: 'Cripto Pesos'
  },
  {
    filterInvestment: 'buendolar',
    title: 'Fondos en USD'
  }
]
---

<Layout title='Compara Tasas'>
  <div
    id='containter'
    class='container mx-auto mx-4 px-4 my-6 max-w-sm sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1
      class='text-3xl text-gray-900 font-bold my-6 dark:text-gray-100'
    >
      ¡Elegí el fondo con <span class='text-indigo-500'
        >más rendimientos</span
      > para vos!
    </h1>
    <!-- 
    <p class="flex items-center gap-1 text-gray-500 dark:text-gray-400">
      <span class="h-2 w-2 rounded-full bg-green-500"></span><span
        >Última actualización: <Date /></span>
    </p>-->
    <Dolares />
    {
      investments.map((investment) => (
        <InvestmentSection
          data={sortedData}
          investmentFilter={investment?.filterInvestment}
          title={investment.title}
        />
      ))
    }

    <CriptoUsd
      exchanges={exchanges}
      title={'Cripto'}
      subtitle={'Compará en donde comprar crypto al mejor precio en'}
    />

    <a
      id='cafecito'
      href='https://cafecito.app/ferminrp'
      rel='noopener'
      target='_blank'
      ><img
        width='192'
        height='40'
        srcset='https://cdn.cafecito.app/imgs/buttons/button_3.png 1x, https://cdn.cafecito.app/imgs/buttons/button_3_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_3_3.75x.png 3.75x'
        src='https://cdn.cafecito.app/imgs/buttons/button_3.png'
        alt='Invitame un café en cafecito.app'
      /></a
    >

    <p class='my-4 text-gray-600 text-sm italic dark:text-gray-400'>
      Tasas de los fondos estimadas a partir de los rendimientos del
      último día. Información provista por la cámara argentina de
      fondos comunes de inversión. La cotización del dolar es provista
      por dolarapi.com
    </p>
    <div class='flex items-center gap-4'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='icon icon-tabler icon-tabler-brand-github'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='#FFF'
        fill=''
        stroke-linecap='round'
        stroke-linejoin='round'
        ><path stroke='none' d='M0 0h24v24H0z' fill='none'
        ></path><path
          d='M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5'
        ></path>
      </svg>
      <p class='my-4 text-gray-600 text-sm italic dark:text-gray-400'>
        Podés contribuir a este proyecto <a
          class='underline'
          href='https://github.com/ferminrp/compara-tasas'
          >en este repositorio.</a
        >
      </p>
    </div>
  </div>
</Layout>
