---
import Layout from '../layouts/Layout.astro'
import Dolares from '../components/Dolares.astro'
import InvestmentSection from '../components/Sections/InvestmentSection.astro'
import CriptoUsd from '../components/Sections/CriptoUsd.astro'
import { type Exchange } from '../model/exchange'
import { type Investment } from '../model/business'
import { getPFInvestments } from '../Services/argentinaDatos'
import { getReturns } from '../client/argentinaDatos'
import { getFCIInvestments } from '../Services/argentinaDatosFCI'

// Define your API endpoint and API keys
const apiEndpoint =
  'https://thklpacfwtrtuynqlnah.supabase.co/rest/v1/tna_view?display=eq.TRUE&select=*'
const apiKey = import.meta.env.PUBLIC_SUPABASE_KEY

// Configure your fetch request with headers

const response = await fetch(apiEndpoint, {
  method: 'GET',
  headers: {
    Authorization: `Bearer ${apiKey}`,
    apikey: apiKey
  }
})

const dataSupabase = await response.json()
const FCIData = await getFCIInvestments()
const dataReturns = await getReturns()

// Solo usamos la info de criptopesos y buendolar de Supabase
const filteredSBData = dataSupabase.filter(
  (d: Investment) =>
    d.type === 'criptopesos' ||
    d.type === 'buendolar' ||
    d.name === 'Naranja X'
)

// Plazos fijos de ArgentinaDatos
const PFData = await getPFInvestments()

// Concatenar arrays
const allData = Array.prototype.concat(
  filteredSBData,
  ...PFData,
  ...FCIData
)

const sortedData = allData.sort((a, b) => {
  if (a.tea < b.tea) {
    return 1 // for descending order, return 1 if the first item is less than the second
  } else if (a.tea > b.tea) {
    return -1 // return -1 if the first item is greater than the second
  } else {
    return 0 // return 0 if they're equal
  }
})

const exchanges = [
  {
    data: dataReturns?.buenbit ?? [],
    link: 'https://buenbit.com?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/nDMEc3-Y_400x400.png?updatedAt=1702030494734',
    altLogo: 'buenbit logo',
    name: 'Buenbit'
  },
  {
    data: dataReturns?.fiwind ?? [],
    link: 'https://fiwind.io?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/gKj3U76V_400x400.jpg?updatedAt=1702030494696',
    altLogo: 'fiwind logo',
    name: 'Fiwind'
  },
  {
    data: dataReturns?.letsbit ?? [],
    link: 'https://letsbit.io/?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/letsbit.jpg?updatedAt=1708124949269',
    altLogo: 'letsbit logo',
    name: 'LetsBit'
  },
  {
    data: dataReturns?.lemoncash ?? [],
    link: 'https://lemon.me/?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/lemon.jpg?updatedAt=1708468450310',
    altLogo: 'lemoncash logo',
    name: 'Lemon'
  },
  {
    data: dataReturns?.belo ?? [],
    link: 'https://belo.app/?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/belo.jpg?updatedAt=1708468600237',
    altLogo: 'belo logo',
    name: 'Belo'
  }
] as Exchange[]

const investments: {
  filterInvestment: Investment['type']
  title: string
}[] = [
  {
    filterInvestment: 'cuenta_remunerada',
    title: 'Inversión Automática'
  },
  {
    filterInvestment: 'tradicional',
    title: 'Experiencia Tradicional'
  },
  {
    filterInvestment: 'pf',
    title: 'Plazos Fijos'
  },
  {
    filterInvestment: 'criptopesos',
    title: 'Cripto Pesos'
  },
  {
    filterInvestment: 'buendolar',
    title: 'Fondos en USD'
  }
]
---

<Layout
  title='Compara Tasas'
  metaImage='https://i.ibb.co/QYKMwcL/Twitter-post-2.pnG'
  metaDescription='Compara las tasas de rendimiento que ofrecen las principales billeteras digitales y sacale mas jugo a tu pesos.'
  metaKeywords='Comparar tasas, tasas de interes Argentina, mejores tasas de interes, Comparar FCI, mejores tasas FCI, comparar 
  tasas de interes, plazo fijo argentina, plazo fijo vs fci'
>
  <div
    id='containter'
    class='container mx-4 mx-auto my-6 max-w-sm px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1
      class='my-6 text-3xl font-bold text-gray-900 dark:text-gray-100'
    >
      ¡Descubrí cuánto podés <span class='text-indigo-500'
        >hacer rendir tu plata!</span
      >
    </h1>
    <Dolares />
    {
      investments.map((investment) => (
        <InvestmentSection
          data={sortedData}
          investmentFilter={investment?.filterInvestment}
          title={investment.title}
        />
      ))
    }

    <CriptoUsd
      exchanges={exchanges}
      title={'Cripto'}
      subtitle={'Compará en donde comprar crypto al mejor precio en'}
    />

    <a
      id='cafecito'
      href='https://cafecito.app/ferminrp'
      rel='noopener'
      target='_blank'
      ><img
        width='192'
        height='40'
        srcset='https://cdn.cafecito.app/imgs/buttons/button_3.png 1x, https://cdn.cafecito.app/imgs/buttons/button_3_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_3_3.75x.png 3.75x'
        src='https://cdn.cafecito.app/imgs/buttons/button_3.png'
        alt='Invitame un café en cafecito.app'
      /></a
    >
  </div>
</Layout>
