---
import cn from '../../utils/cn';
import { formatPercentage } from '../../utils/formats';

const {
  isLastItem,
  moneda,
  apy,
  logo,
  defaultLogo,
  className,
  exchange,
  isBestSection,
} = Astro.props;

const apyFormatted = formatPercentage(apy);

const fullLogo = logo ?? defaultLogo;

// Regla para que no aparezca ars de letsbit o apys ridiculos de mas de 200%
const shouldRenderComponent = moneda !== 'ARS' && apy < 200;

const sizes = {
  width: isBestSection ? '32px' : '16px',
  height: isBestSection ? '32px' : '16px',
};

const title = isBestSection ? exchange : moneda;
const subTitle = isBestSection ? moneda : exchange;
---

{
  shouldRenderComponent && (
    <div
      class={cn('border-gray-600 py-3 dark:border-gray-700', className, {
        'border-b-1 border-b border-gray-600 dark:border-gray-700': !isLastItem,
      })}
    >
      <div>
        <div class='flex flex-row items-center justify-between'>
          <div class='flex items-center gap-2'>
            <img
              loading='lazy'
              style={sizes}
              class='h-4 w-4 rounded-full'
              src={fullLogo + '?tr=w-16,h-16,f_webp'}
              alt={`${title} logo`}
            />
            <div>
              <p class='font-semibold capitalize dark:text-gray-200'>{title}</p>
              <p class='text-xs capitalize dark:text-gray-400'>{subTitle}</p>
            </div>
          </div>
          <div>
            <p class='flex w-[150px] justify-end gap-1 align-middle'>
              <span class='tabular-nums dark:text-gray-200'>
                {apyFormatted}
              </span>
              <span class='mt-[5px] text-xs dark:text-gray-200'>APY</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  )
}
