---
interface Props {
  title: string
  metaImage: string
  metaDescription: string
  isFooterVisible?: boolean
}

const {
  title,
  metaImage,
  metaDescription,
  isFooterVisible = true
} = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta charset='UTF-8' />
    <meta name='theme-color' id='metaThemeColor' content='#f1f5f9' />
    <script>
      function setThemeColor() {
        const isDarkMode = window.matchMedia(
          '(prefers-color-scheme: dark)'
        ).matches
        const metaThemeColor = document.querySelector(
          'meta[name=theme-color]'
        )

        if (isDarkMode) {
          metaThemeColor.setAttribute('content', '#020617')
        } else {
          metaThemeColor.setAttribute('content', '#f1f5f9')
        }
      }

      // Initial set
      setThemeColor()

      // Listen for changes
      window
        .matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change', setThemeColor)
    </script>
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='apple-touch-icon.png'
    />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-title' content='Compara Tasas' />
    <meta
      name='apple-mobile-web-app-status-bar-style'
      content='default'
    />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:image' content={metaImage} />
    <title>{title}</title>
    <meta name='description' content={metaDescription} />
    <meta
      name='keywords'
      content='Comparar tasas, tasas de interes Argentina, mejores tasas de interes, Comparar FCI, mejores tasas FCI, comparar 
			tasas de interes, plazo fijo argentina, plazo fijo vs fci'
    />
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <meta property='og:image' content={metaImage} />
  </head>
  <body class='bg-gray-100 py-6 text-gray-900 dark:bg-gray-950'>
    <slot />
    {
      isFooterVisible ? (
        <div
          id='containter'
          class='container mx-4 mx-auto my-6 flex max-w-sm flex-col gap-4 px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
        >
          <p class='my-4 text-sm text-gray-600 dark:text-gray-400'>
            Comparatasas.ar® es un proyecto colaborativo que tiene
            como fin, reflejar las tasas disponibles en el mercado
            actual. Para mayor información, visitá la sección{' '}
            <a
              class='underline dark:text-gray-200'
              href='/legal'
              target='_blank'
            >
              Aviso Legal
            </a>
          </p>
          <div class='flex items-center gap-4'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='icon icon-tabler icon-tabler-brand-github'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='#FFF'
              fill=''
              stroke-linecap='round'
              stroke-linejoin='round'
            >
              <>
                <path stroke='none' d='M0 0h24v24H0z' fill='none' />
                <path d='M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5' />
              </>
            </svg>
            <p class='my-4 text-sm text-gray-600 dark:text-gray-400'>
              Podés contribuir a este proyecto{' '}
              <a
                class='underline dark:text-gray-200'
                href='https://github.com/ferminrp/compara-tasas'
              >
                en este repositorio.
              </a>
            </p>
          </div>
        </div>
      ) : null
    }
  </body>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src='https://www.googletagmanager.com/gtag/js?id=G-MVDC98G0E2'
  ></script>
  <script>
    // @ts-ignore
    window.dataLayer = window.dataLayer || []
    function gtag() {
      // @ts-ignore
      dataLayer.push(arguments)
    }
    // @ts-ignore
    gtag('js', new Date())
    // @ts-ignore
    gtag('config', 'G-MVDC98G0E2')
  </script>
  <script>
    console.log('La Competencia nos eleva — Pierpaolo Barbieri')
    console.log('Camine señora, camine — Lita de Lazzari')
  </script>
</html>

<style is:global>
  :root {
  }
</style>
