---
import NavBar from '../components/Menu/NavBar';
import Footer from '../components/Sections/Footer.astro';

interface Props {
  title: string;
  metaImage: string;
  metaDescription: string;
  isFooterVisible?: boolean;
  hideNav?: boolean;
}

const {
  title,
  metaImage,
  metaDescription,
  isFooterVisible = true,
  hideNav = false,
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta charset='UTF-8' />
    <meta name='theme-color' id='metaThemeColor' content='#f1f5f9' />
    <script>
      function setThemeColor() {
        const isDarkMode = window.matchMedia(
          '(prefers-color-scheme: dark)',
        ).matches;
        const metaThemeColor = document.querySelector('meta[name=theme-color]');

        if (isDarkMode) {
          metaThemeColor.setAttribute('content', '#020617');
        } else {
          metaThemeColor.setAttribute('content', '#f1f5f9');
        }
      }

      // Initial set
      setThemeColor();

      // Listen for changes
      window
        .matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change', setThemeColor);
    </script>
    <link rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-title' content='Compara Tasas' />
    <meta name='apple-mobile-web-app-status-bar-style' content='default' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:image' content={metaImage} />
    <title>{title}</title>
    <meta name='description' content={metaDescription} />
    <meta
      name='keywords'
      content='Comparar tasas, tasas de interes Argentina, mejores tasas de interes, Comparar FCI, mejores tasas FCI, comparar 
			tasas de interes, plazo fijo argentina, plazo fijo vs fci'
    />
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <meta property='og:image' content={metaImage} />
  </head>
  <body class='bg-gray-100 text-gray-900 dark:bg-gray-950'>
    <!-- Se le pasa la ruta de la url actual al component react para 
          conocer el item del menu que debe quedar activo -->
    {!hideNav && <NavBar pathname={Astro.url.pathname} client:load />}
    <slot />
    <Footer isFooterVisible={isFooterVisible} />
  </body>
  <!-- Google tag (gtag.js) -->
  <script async src='https://www.googletagmanager.com/gtag/js?id=G-MVDC98G0E2'
  ></script>
  <script>
    // @ts-ignore
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      // @ts-ignore
      dataLayer.push(arguments);
    }
    // @ts-ignore
    gtag('js', new Date());
    // @ts-ignore
    gtag('config', 'G-MVDC98G0E2');
  </script>
  <script>
    console.log('La Competencia nos eleva — Pierpaolo Barbieri');
    console.log('Camine señora, camine — Lita de Lazzari');
  </script>
</html>

<style is:global>
  :root {
  }
</style>
