---
import { getPFInvestments } from '../../Services/argentinaDatos';
import NavBar from '../../components/Menu/NavBar';
import SimularInversion from '../../components/SimularInvestment/Dialog.tsx';
import bankList from '../../data/banks.json';
import Layout from '../../layouts/Layout.astro';

interface paramsType {
  params: {
    bank: string;
  };
  props: {
    name: string;
  };
}

export function getStaticPaths() {
  const params: paramsType[] = [];
  for (let i = 0; i < bankList.length; i++) {
    const bankData = bankList[i];
    params.push({
      params: {
        bank: bankData.slug,
      },
      props: {
        name: bankData.nombre,
      },
    });
  }
  return params;
}

const { name } = Astro.props;

const BanksData = await getPFInvestments();
const bank = BanksData.find((data) => data.name === name);
---

<Layout
  title={`Plazo Fijo ${name} - Rendimiento`}
  metaDescription={`${bank?.description}` ||
    `Analiza los rendimientos en pesos que ofrece ${name} y simulá tu inversión.`}
  metaKeywords='rendimientos pesos, rendimiento pesos argentinos, bancos argentina'
  metaImage='https://i.ibb.co/QYKMwcL/Twitter-post-2.pnG'
>
  <NavBar pathname='/pesos' client:load />
  <div
    id='containter'
    class='container mx-auto my-6 mb-12 max-w-sm px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <button class='mb-4' type='button' onclick='history.back()'>
      <svg
        width='24'
        height='24'
        viewBox='0 0 24 24'
        class='fill-current text-neutral-900 dark:text-white'
        xmlns='http://www.w3.org/2000/svg'
      >
        <title>Botón atrás</title>
        <path
          d='M17.835 3.86998L16.055 2.09998L6.16504 12L16.065 21.9L17.835 20.13L9.70504 12L17.835 3.86998Z'
        ></path>
      </svg>
    </button>
    <div class='flex gap-4 dark:text-gray-100'>
      <img class='h-12 w-12 rounded-full' src={bank?.logo} alt={bank?.name} />
      <div class='flex flex-col'>
        <p class='text-gray-400'>{name}</p>
        <h1 class='font-bold text-neutral-900 dark:text-white'>
          {bank?.detail}
        </h1>
      </div>
    </div>
    <p class='my-6 dark:text-gray-400'>
      {
        bank?.description ||
          'Inversión a 30 días mínimo, que paga una renta fija asegurada en pesos. Renovable automática o manualmente.'
      }
    </p>
    <h2 class='mb-6 text-lg font-semibold text-neutral-900 dark:text-gray-100'>
      Rendimientos
    </h2>
    <div class='rounded-lg bg-white shadow-md dark:bg-slate-900'>
      <div class='flex justify-between'>
        <span class='px-6 py-4 text-gray-400'>TNA</span>
        <span class='px-6 py-4 font-bold text-neutral-900 dark:text-gray-100'>
          {(bank?.tna || 0).toFixed(2).replace('.', ',')} %
        </span>
      </div>
      <div class='px-6'>
        <hr class='dark:border-gray-700' />
      </div>
      <div class='flex justify-between'>
        <span class='px-6 py-4 text-gray-400'>TEA</span>
        <span class='px-6 py-4 font-bold text-neutral-900 dark:text-gray-100'>
          {(bank?.tea || 0).toFixed(2).replace('.', ',')} %
        </span>
      </div>
    </div>
    <h2 class='my-6 text-lg font-semibold dark:text-gray-100'>
      Detalle del Fondo
    </h2>
    <div class='rounded-lg bg-white shadow-md dark:bg-slate-900'>
      <div class='flex justify-between'>
        <span class='px-6 py-4 text-gray-400'>Sociedad</span>
        <span
          class='max-w-1/2 overflow-hidden overflow-ellipsis whitespace-nowrap px-6 py-4 dark:text-gray-100'
        >
          {bank?.sociedad}
        </span>
      </div>
      <div class='px-6'>
        <hr class='dark:border-gray-700' />
      </div>
      <div class='flex justify-between'>
        <span class='px-6 py-4 text-gray-400'>Tipo de Renta</span>
        <span class='px-6 py-4 dark:text-gray-100'>
          {bank?.renta}
        </span>
      </div>
      <div class='px-6'>
        <hr class='dark:border-gray-700' />
      </div>
      <div class='flex justify-between'>
        <span class='px-6 py-4 text-gray-400'>Moneda</span>
        <span class='px-6 py-4 dark:text-gray-100'>
          {bank?.moneda}
        </span>
      </div>
      <div class='px-6'>
        <hr class='dark:border-gray-700' />
      </div>
      <div class='flex justify-between'>
        <span class='px-6 py-4 text-gray-400'>Monto mínimo</span>
        <span class='px-6 py-4 dark:text-gray-100'>
          {bank?.montoMinimo}
        </span>
      </div>
      <div class='px-6'>
        <hr class='dark:border-gray-700' />
      </div>
      <div class='flex justify-between'>
        <span class='px-6 py-4 text-gray-400'>Plazo mínimo</span>
        <span class='px-6 py-4 dark:text-gray-100'>
          {bank?.plazoMinimo}
        </span>
      </div>
      <div class='px-6'>
        <hr class='dark:border-gray-700' />
      </div>
      <div class='flex justify-between'>
        <span class='px-6 py-4 text-gray-400'>Horario</span>
        <span class='px-6 py-4 dark:text-gray-100'>
          {bank?.horario}
        </span>
      </div>
    </div>
    <div class='mt-8 flex flex-col gap-3'>
      <SimularInversion multiplo30={true} client:load data={bank} />
      <div class='flex items-center justify-center'>
        <a
          class='text-sm text-indigo-500 underline'
          target='_blank'
          href={bank?.url}>Visitá el sitio web</a
        >
      </div>
    </div>
  </div>

  <!-- 
    <p class='dark:text-gray-100'>{instrument}</p>
    <p class='dark:text-gray-100'>TNA {formatPercentage(fci?.tna || 0)}</p>
    <p class='dark:text-gray-100'>TEA {formatPercentage(fci?.tea || 0)}</p>
    <p class='dark:text-gray-100'>{fci?.detail}</p>
    -->
</Layout>
