---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/Menu/NavBar';
import fciList from '../../data/fci.json';
import { getFCIInvestments } from '../../Services/argentinaDatosFCI';
import { formatPercentage } from '../../utils/formats';
interface paramsType {
  params: {
    instrument: string;
  };
  props: {
    name: string;
  };
}

export function getStaticPaths() {
  const params: paramsType[] = [];
  for (const fciKey of Object.keys(fciList)) {
    const fciData = fciList[fciKey];
    params.push({
      params: {
        instrument: fciData.slug,
      },
      props: {
        name: fciKey,
      },
    });
  }
  return params;
}

const { instrument } = Astro.params;
const { name } = Astro.props;

const FCIData = await getFCIInvestments();
const fci = FCIData.find((data) => data.name === name);
---

<Layout
  title=`${fci?.name} - Rendimiento`
  metaDescription='Compara los rendimientos en pesos que ofrecen los principales bancos del país.'
  metaKeywords='rendimientos pesos, rendimiento pesos argentinos, bancos argentina'
  metaImage='https://i.ibb.co/QYKMwcL/Twitter-post-2.pnG'
>
  <NavBar pathname='/pesos' client:load />
  <div
    id='containter'
    class='container mx-auto my-6 max-w-sm px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <div class='flex gap-4 dark:text-gray-100'>
      <img class='h-12 w-12 rounded-full' src={fci?.logo} />
      <div class='flex flex-col'>
        <p>{fci.name}</p>
        <h1 class='font-bold text-white'>
          {fci?.nombreSimplificado}
        </h1>
      </div>
    </div>
    <p class='text-gray-100'>{fci.description}</p>
    <p class='text-white'>{instrument}</p>
    <p class='text-white'>TNA {formatPercentage(fci?.tna || 0)}</p>
    <p class='text-white'>TEA {formatPercentage(fci?.tea || 0)}</p>
    <p class='text-white'>{fci?.detail}</p>
  </div>
</Layout>
